/* Estilos generales */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

:root{
    --color-primario: #a15600;
    --color-primario-blur: #a15600ab;
}

body{
    font-family: 'Cabin', sans-serif;
}

body::selection{
    background-color: 202124;
}

h1{
    font-size: 4.5rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2rem;
}
h5{
    font-size: 1.7rem;
}
h6{
    font-size: 1.5rem;
}
p{
    font-size: 1,2rem;
}

/* FIN ESTILOS GENERALES */



/*===============
HEADER
=================*/
.header{
    width: 100%;
    height: 5rem;
    padding: 0 3rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primario-blur);
    backdrop-filter: blur(10px);
    z-index: 1;
}

.logo a{
    text-decoration: none;
    color: #fff;
}

.nav{
    display: flex;
}

.nav-item{
    list-style: none;
}

.nav-item a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    margin-left: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}
/*===============
FIN HEADER
=================*/

/*===============
SLIDER
=================*/

.contenedor-inicio{
    width: 100%;
    height: 100vh;
    display: flex;
    padding-left: 5rem;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        ), url('../img/mateo-4.webp');
    background-position: top left;
}

.inicio-columna-1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio-titulo{
    color: #fff;
}

.inicio-texto{
    color: #fff;
}

.inicio-columna-2{
    width: 50%;
}
/*===============
FIN SLIDER
=================*/


/*===============
INICIO SOBRE MI
=================*/



/*===============
FIN SOBRE MI
=================*/